body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 85%;
  margin: auto;
}

.header {
  font-family: 'ITC Serif Gothic', sans-serif;
  display: flex;
  height: 130px;
  border-bottom: 2px solid #f77c33;
}


.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0;
}

.header a {
  text-decoration: none;
  color: #f77c33;
}

.agora {
  font-weight: 1000;
}

.navbar {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
  font-size: 20px;
}

.titulo {
  color: #f77c33;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

.banner {
  display: flex;
  height: var(--tamanho-banner);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  font-size: 36px;
  color: white;
  width: 280px;
}

.banner .container span {
  font-weight: 800;
}

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box {
  width: 280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box p {
  text-align: center;
}

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/backgroundOuterWilds.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 30%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #f77c33;
  row-gap: 20px;
}

.card-cadastro {
  height: 80%;
}

.card-login {
  height: 60%;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #f77c33;
  width: 120px;
  height: 30px;
  align-self: center;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #f77c33 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.footer {
  height: 10%;
  width: 100%;
  background-color: #292c54;
  color: #fff;
}

.footer h4 {
  margin: 0;
}

.footer .container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer .container .version {
  font-size: 12px;
  font-weight: 800;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

.header img {
  padding-left: 10px;
}

@keyframes move-nuvens-back {
  from {background-position: 0 0;}
  to {background-position: 10000px 0;}
}

@keyframes move-brilhante-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}

.estrelas, .brilhantes, .nuvens {
  margin-top: 0;
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
}

.estrelas {
  background: #000 url('..//assets/imgs/stars.png') repeat top center;
  z-index: 0;
}

.brilhantes {
  background: transparent url('..//assets/imgs/twinkling.png') repeat top center;
  z-index: 1;
  animation: move-brilhante-back 200s linear infinite;
}

.nuvens {
  background: transparent url('..//assets/imgs/clouds.png') repeat top center;
  z-index: 2;
  opacity: .4;
  animation: move-nuvens-back 200s linear infinite;
}



.banner img {
  display: flex;
  z-index: 3;
  
}

.banner img:hover {
  height: 200px
}

.banner .olho {
  display: flex;
  align-items: end;
  z-index: 4;
}

select{
  border-radius: 20px;
}

#planeta1 span {
  font-weight: 640;
  position: absolute;
  right: 10px;
  font-size: 40px;
  color: #34386e;
  top: 0;
}

#planeta1 span:hover {
  opacity: 70%;
}

#planeta1 {
  width: 100%;
  height: 570px;
  position: absolute;
  background-color: black;
  opacity: 90%;
  z-index: 5;
  display: none;
  transition: 1s;
  justify-content: space-evenly;
  align-items: center;
}
#planeta1 #fechar{
  cursor: pointer;
}

#descricao {
  width: 400px;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px black;
}

#titulo h1 {
  margin: 0;
  background-color: orange;
  color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  width: 100%;
}

#titulo {
  border-radius: 10px;
  background-color: black;
  height: 300px;
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo img {
  margin-top: 4%;
}

.classComentarios {
color: white;
background-color: orange;
width: 500px;
border-radius: 10px;
margin-left: 20px;
padding: 5px;
margin-bottom: 20px;
}

#formulario {
  margin-bottom: 20px;
  margin-left: 20px;
}
#formulario input:nth-of-type(1) {
  height: 40px;
  width: 400px;
}
#formulario input:nth-of-type(2) {
  height: 100px;
  width: 600px;
}

#formulario button {
  height: 30px;
  width: 120px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 750;
}

#formulario button:hover {
  cursor: pointer;
}

.planetaP{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.classComentarios img {
  height: 50px;
}

#graficoAstro canvas{
  background-color: black;
  height: 400px;
  width: 800px;
}

#graficoPlaneta canvas{
  background-color: black;
  height: 400px;
  width: 800px;
}

#caixona {
  display: flex;
  width: 100%;
  height: 524px;
  flex-direction: row;
  align-items: center;
}

#caixona h4 {
  color: white;
}

#graficoAstro {
  padding-left: 20px;
  padding-right: 40px;
}

#graficoPlaneta {
  padding-left: 20px;
}

#astro {
padding-left: 40px;
}